
* {
margin:0px;
padding:0px;
box-sizing:border-box;
font-family: gdsherpa,Helvetica,Arial,sans-serif;

}

.first-div {
max-width:600px;
border:solid #d4dbe0;
margin: 0 auto;
margin-top: 40px;
}
.innercontainer {
max-width:100%;
text-align:center;

}
.header-buttons {
margin-top:15px;

}
button {
background-color: White; 
border: 2px solid black;
color:  black;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:5px;
margin-right:5px;
cursor: pointer;
}
button:hover {
background-color: black;
color: white;
transition: 0.3s;

}

i {
margin-right:10px;
font-size:20px;
display:none;
}
input {
margin-top:10px;;
}

.submit {
background-color: black;
color: white;
}
#hidden-div {
border: 1px solid	#483C32;
display: none;
}
fieldset {
border:none;
}
form {
padding: 40px;
}

form input {
width: 100%;
margin-bottom: 5px;
padding: 15px;
border: 1px solid	#483C32;
}
#hidden-div{
    display:none;
}
.hidden-phonediv{
    display:none;
}
